<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BiblioBooking"
        tools:targetApi="31">
        <activity
            android:name=".verAsignaciones"
            android:exported="false" />
        <activity
            android:name=".ModificarAsignacionesActivity"
            android:exported="false" />
        <activity
            android:name=".ConsultarAsignaciones"
            android:exported="false" />
        <activity
            android:name=".Estudiantes"
            android:exported="false" />
        <activity
            android:name=".Cubiculos"
            android:exported="false" />
        <activity
            android:name=".MainAdministrador"
            android:exported="false" />
        <activity
            android:name=".MainEstudiante"
            android:exported="false" />
        <activity
            android:name=".Registro"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Principal"
            android:exported="false" />
        <activity
            android:name=".EliminarEstudianteActivity"
            android:exported="false" />
        <activity
            android:name=".ModificarEstudianteActivity"
            android:exported="false" />
        <activity
            android:name=".SolicitarCubiculoActivity"
            android:exported="false" />
        <activity
            android:name=".ListaApartadosActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarCubiculoActivity"
            android:exported="false" />
        <activity
            android:name=".ModificarCubiculoActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>